.person{
    display: inline-block;
    text-align: center;
    .title{

    }

    img{
        border-radius: 50%;
        box-shadow: #777279 1px 1px
    }
    button{
        background-color: rgb(14, 206, 14);
        width: 100%;
    }
    *{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}